<!-- Les quetions -->
<div ng-if="typeview == 'question'">
    <form ng-submit="validateResponses($event)" action="#" method="post">
        <ul ng-repeat="(questionId, question) in questions" class="list-unstyled">
            <li>
                <div class="panel panel-default">
                    <div class="panel-heading" ng-bind="question.question"></div>
                    <div class="panel-body">
                        <ul ng-repeat="(answerId, answer) in question.answers" class="list-unstyled">
                            <li class="radio">
                                <label>
                                    <input type="radio" name="question_{{questionId}}" ng-model="responses[questionId]" ng-value="answerId">
                                    {{answer.value}}
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="pull-right">
                    <input type="submit" class="btn btn-primary" value="Voir mon résultat"/>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Les réponses -->
<div ng-if="typeview == 'response'" ng-include="'views/resultats/resultat.html'"></div>
